<div class="body">
    <h2>Hello {{name}}</h2>
    <button type="button" id="erupt_button"><img src="volcano_sleeping.jpg" id="Tacano" /></button>
    <img src="taco.jpg" style="display: none;" />
    <img src="volcano_awake.jpg" style="display: none;" />

    <script></script>
</div>